/* PAGE
SETUP  */

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 22px;
	font-family: Helvetica;
	color: seashell;
	background-color: black;
	text-align: center;
	opacity: .9;
}

ul {
	list-style-type: none;
}

/* MOBILE 
VIEWPORT */

@media only screen and (max-width: 580px) {
	html {
		font-size: 0.95em;
	}
}

/* HEADER
AND NAV */

header {
	height: 69px;
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: black;
	border-bottom: 1px solid seashell;
	z-index: 69;
}

#logo {
	position: absolute;
	left: 10px;
	top: 10px;
	display: flex;
	height: 50px;
}

nav ul {
	margin: 10px;
	padding: 5px;
}

nav ul li {
	display: inline-flex;
	margin: 4px;
}

nav a {
	margin-left: 10px;
	color: white;
}

/* MISSION 
SECTION */

#mission {
	background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg');
	background-size: cover;
	background-position: center;
	height: 700px;
	max-width: 1200px;
	position: relative;
	top: 64px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.statement {
	background-color: black;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 15px;
}

/* TEA OF THE 
MONTH SECTION */

#totm {
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
	padding: 80px 0 40px;
	position: relative;
	top: 30px;
}

.featured-teas {
	display: flex;
	justify-content: center;
	flex-flow: wrap row;
	margin-top: 15px;
}

.tea {
	margin: 15px;
}

figure img {
	width: 300px;
	height: 200px;
}

figcaption {
	margin-top: 10px;
}

/* LOCATIONS
SECTION */

#locations {
	height: 500px;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 85px;
	background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	top: 30px;
}

.addresses {
	max-width: 980px;
	justify-content: center;
	display: flex;
	margin: auto;
}

.location {
	background-color: black;
	opacity: 1;
	height: 250px;
	width: 250px;
	align-content: center;
	flex-direction: column;
	padding: 20px;
	margin: 15px;
	align-items: center;
	justify-content: space-around;
	display: flex;
}

.location p {
	font-size: 0.9rem;
}

/* CONTACT 
SECTION */

#contact {
	height: 200px;
	position: relative;
	top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-bottom: 60px;
}

/* PAGE
FOOTER */

footer {
	text-align: left;
	margin-left: 20px;
	font-size: 0.75rem;
}
